.DS_Store
Thumbs.db
desktop.ini

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

*.zip
*.tar.gz
*.rar

error_log
*.log
original_crm/
2026.10.08-1 - crm.rolextogroup.com/